{% extends 'jobinfo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>The Job Information System was created and designed to help job seekers and job recruiters keep
    better track of job applications. The job hunting process can be very tedious and there are very few online
        tools to help people keep track of places they have applied/ received applications from. As part, this application
        allows both recruiters and job seekers a more
    clean way to keep track of what companies they have applied to/ received applications from rather
    than outdated methods like a spreadsheet or hand written notes! This application is implemented using
        <a href="https://www.djangoproject.com">Django</a>.</p>
    </div>
  </div>
{% endblock %}