{% extends 'jobinfo/base.html' %}

{% block title %}
    Delete Application Cycle
{% endblock %}

{% block content %}
    <form
        action="{{ appCycle.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            app cycle {{ appCycle }}?
        </p>
        <a href="{{ appCycle.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Application Cycle</button>
    </form>
{% endblock %}
