{% extends 'jobinfo/base.html' %}

{% block title %}
    Error Deleting Application Cycle
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Application Cycle</h2>
        <p>
            You may not delete Application Cycle {{ appCycle }}.  This
            Application Cycle is currently associated with the following
            companies:
        </p>

        <ul>
            {% for company in companies %}
            <li><a href="{{ company.get_absolute_url }}">{{ company }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'jobinfo_appCycle_list_urlpattern' %}">Application Cycle List</a>.
        </p>
    </div>
{% endblock %}
