{% extends 'jobinfo/base.html' %}

{% block title %}
    Error Deleting Job Seeker
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Job Seeker</h2>
        <p>
            You may not delete Job Seeker {{ jobSeeker }}.  This
            Job Seeker is currently registered in the following:
        </p>

        <ul>
            {% for application in applications %}
            <li><a href="{{ application.get_absolute_url }}">{{ application.company }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'jobinfo_jobSeeker_list_urlpattern' %}">Job Seeker List</a>.
        </p>
    </div>
{% endblock %}
