{% extends 'jobinfo/base.html' %}

{% block title %}
    Position List
{% endblock %}

{% block create_button %}
    {% if perms.jobinfo.add_position %}
    <a
        href="{% url 'jobinfo_position_create_urlpattern'  %}"
        class="button button-primary">
      Create New Position</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h2>Position List</h2>
    {% if perms.jobinfo.add_position %}
    <div class="mobile">
      <a
          href="{% url 'jobinfo_position_create_urlpattern' %}"
          class="button button-primary">
        Create New Position</a>
    </div>
    {% endif %}
  <ul>
    {% for position in position_list %}
      <li>
        <a href="{{ position.get_absolute_url }}">
          {{ position }}</a>
      </li>
    {% empty %}
      <li><em>There are currently no positions available.</em></li>
    {% endfor %}
  </ul>
{% endblock %}

