{% extends 'jobinfo/base.html' %}

{% block title %}
    Error Deleting Position
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Position</h2>
        <p>
            You may not delete position {{ position }}.  This
            position is currently associated with the following
            companies:
        </p>

        <ul>
            {% for company in companies %}
            <li><a href="{{ company.get_absolute_url }}">{{ company }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'jobinfo_position_list_urlpattern' %}">Position List</a>.
        </p>
    </div>
{% endblock %}
